CREATE DATABASE ProductionDB;
GO

USE ProductionDB;
GO

-- 1. Роли (для системы прав доступа)
CREATE TABLE Roles (
    RoleID INT PRIMARY KEY IDENTITY(1,1),
    RoleName NVARCHAR(50) NOT NULL UNIQUE
);

-- 2. Сотрудники
CREATE TABLE Employees (
    EmployeeID INT PRIMARY KEY IDENTITY(1,1),
    LastName NVARCHAR(50) NOT NULL,
    FirstName NVARCHAR(50) NOT NULL,
    MiddleName NVARCHAR(50) NULL,
    Email NVARCHAR(100) NOT NULL UNIQUE,
    HireDate DATE NOT NULL,
    Salary DECIMAL(10,2) NOT NULL CHECK (Salary > 0),
    DepartmentID INT NULL
);

-- 3. Связь сотрудников и ролей (многие-ко-многим)
CREATE TABLE UserRoles (
    UserRoleID INT PRIMARY KEY IDENTITY(1,1),
    EmployeeID INT NOT NULL,
    RoleID INT NOT NULL
);

-- 4. Отделы/цеха
CREATE TABLE Departments (
    DepartmentID INT PRIMARY KEY IDENTITY(1,1),
    DepartmentName NVARCHAR(100) NOT NULL UNIQUE,
    Location NVARCHAR(100) NOT NULL
);

-- 5. Поставщики
CREATE TABLE Suppliers (
    SupplierID INT PRIMARY KEY IDENTITY(1,1),
    SupplierName NVARCHAR(100) NOT NULL,
    ContactPhone NVARCHAR(20) NOT NULL,
    ContactEmail NVARCHAR(100) NOT NULL
);

-- 6. Склады
CREATE TABLE Warehouses (
    WarehouseID INT PRIMARY KEY IDENTITY(1,1),
    WarehouseName NVARCHAR(100) NOT NULL,
    Location NVARCHAR(100) NOT NULL
);

-- 7. Детали
CREATE TABLE Parts (
    PartID INT PRIMARY KEY IDENTITY(1,1),
    PartName NVARCHAR(100) NOT NULL,
    PartNumber NVARCHAR(50) NOT NULL UNIQUE,
    Price DECIMAL(10,2) NOT NULL CHECK (Price >= 0),
    StockQuantity INT NOT NULL CHECK (StockQuantity >= 0),
    WarehouseID INT NULL,
    SupplierID INT NULL
);

-- 8. Заказы
CREATE TABLE Orders (
    OrderID INT PRIMARY KEY IDENTITY(1,1),
    OrderDate DATE NOT NULL,
    EmployeeID INT NOT NULL,
    Status NVARCHAR(20) NOT NULL DEFAULT 'Новый' CHECK (Status IN ('Новый', 'В работе', 'Выполнен', 'Отменен'))
);

-- 9. Связь заказов и деталей (многие-ко-многим)
CREATE TABLE OrderParts (
    OrderPartID INT PRIMARY KEY IDENTITY(1,1),
    OrderID INT NOT NULL,
    PartID INT NOT NULL,
    Quantity INT NOT NULL CHECK (Quantity > 0)
);

-- 10. Журнал аудита (для истории изменений)
CREATE TABLE AuditLog (
    AuditID INT PRIMARY KEY IDENTITY(1,1),
    TableName NVARCHAR(100) NOT NULL,
    RecordID INT NOT NULL,
    ActionType NVARCHAR(10) NOT NULL CHECK (ActionType IN ('INSERT', 'UPDATE', 'DELETE')),
    OldValue NVARCHAR(MAX) NULL,
    NewValue NVARCHAR(MAX) NULL,
    ChangedBy NVARCHAR(100) NOT NULL,
    ChangeDate DATETIME NOT NULL DEFAULT GETDATE()
);