USE ProductionDB;
GO

-- FK для Employees (связь с Departments)
ALTER TABLE Employees
ADD CONSTRAINT FK_Employees_Departments
FOREIGN KEY (DepartmentID) REFERENCES Departments(DepartmentID)
ON DELETE SET NULL;

-- FK для UserRoles (связь с Employees)
ALTER TABLE UserRoles
ADD CONSTRAINT FK_UserRoles_Employees
FOREIGN KEY (EmployeeID) REFERENCES Employees(EmployeeID)
ON DELETE CASCADE;

-- FK для UserRoles (связь с Roles)
ALTER TABLE UserRoles
ADD CONSTRAINT FK_UserRoles_Roles
FOREIGN KEY (RoleID) REFERENCES Roles(RoleID)
ON DELETE CASCADE;

-- FK для Parts (связь с Warehouses)
ALTER TABLE Parts
ADD CONSTRAINT FK_Parts_Warehouses
FOREIGN KEY (WarehouseID) REFERENCES Warehouses(WarehouseID)
ON DELETE SET NULL;

-- FK для Parts (связь с Suppliers)
ALTER TABLE Parts
ADD CONSTRAINT FK_Parts_Suppliers
FOREIGN KEY (SupplierID) REFERENCES Suppliers(SupplierID)
ON DELETE SET NULL;

-- FK для Orders (связь с Employees)
ALTER TABLE Orders
ADD CONSTRAINT FK_Orders_Employees
FOREIGN KEY (EmployeeID) REFERENCES Employees(EmployeeID)
ON DELETE CASCADE;

-- FK для OrderParts (связь с Orders)
ALTER TABLE OrderParts
ADD CONSTRAINT FK_OrderParts_Orders
FOREIGN KEY (OrderID) REFERENCES Orders(OrderID)
ON DELETE CASCADE;

-- FK для OrderParts (связь с Parts)
ALTER TABLE OrderParts
ADD CONSTRAINT FK_OrderParts_Parts
FOREIGN KEY (PartID) REFERENCES Parts(PartID)
ON DELETE CASCADE;