USE ProductionDB;
GO

-- ============================================
-- 1. ЗАПОЛНЕНИЕ СПРАВОЧНЫХ ДАННЫХ
-- ============================================

-- Роли
INSERT INTO Roles (RoleName) VALUES ('Администратор'), ('Менеджер'), ('Складской работник'), ('Бухгалтер');

-- Отделы
INSERT INTO Departments (DepartmentName, Location) VALUES 
('Сборочный цех', 'Корпус А, 1 этаж'),
('Складской отдел', 'Корпус Б, 2 этаж'),
('Бухгалтерия', 'Корпус А, 3 этаж'),
('Отдел закупок', 'Корпус А, 2 этаж');

-- Склады
INSERT INTO Warehouses (WarehouseName, Location) VALUES 
('Основной склад', 'Корпус Б, 1 этаж'),
('Резервный склад', 'Корпус В, 1 этаж');

-- Поставщики
INSERT INTO Suppliers (SupplierName, ContactPhone, ContactEmail) VALUES 
('ООО "МеталлПром"', '+7(495)111-2233', 'info@metalprom.ru'),
('ЗАО "ЭлектроДеталь"', '+7(495)444-5566', 'sales@electrodetal.ru'),
('ООО "ПластМасс"', '+7(495)777-8899', 'order@plastmass.ru');

-- Сотрудники
INSERT INTO Employees (LastName, FirstName, MiddleName, Email, HireDate, Salary, DepartmentID) VALUES 
('Иванов', 'Иван', 'Иванович', 'ivanov@company.ru', '2020-01-15', 80000, 1),
('Петрова', 'Елена', 'Сергеевна', 'petrova@company.ru', '2021-03-10', 75000, 2),
('Сидоров', 'Алексей', 'Андреевич', 'sidorov@company.ru', '2019-07-22', 90000, 3),
('Козлова', 'Мария', 'Дмитриевна', 'kozlovam@company.ru', '2022-02-01', 65000, 4),
('Новиков', 'Дмитрий', 'Павлович', 'novikov@company.ru', '2023-01-10', 55000, 2);

-- Роли пользователей
INSERT INTO UserRoles (EmployeeID, RoleID) VALUES 
(1, 1),
(2, 2),
(3, 4),
(4, 3),
(5, 2);

-- Детали
INSERT INTO Parts (PartName, PartNumber, Price, StockQuantity, WarehouseID, SupplierID) VALUES 
('Винт М6', 'SCR-001', 15.50, 1000, 1, 1),
('Гайка М6', 'NUT-001', 12.00, 800, 1, 1),
('Плата контроллера', 'PCB-001', 4500.00, 50, 1, 2),
('Корпус пластиковый', 'CS-001', 320.00, 120, 2, 3),
('Кабель USB 1м', 'CBL-001', 85.00, 300, 1, 2);

-- Заказы
INSERT INTO Orders (OrderDate, EmployeeID, Status) VALUES 
('2025-03-01', 2, 'Выполнен'),
('2025-03-15', 2, 'В работе'),
('2025-03-20', 5, 'Новый');

-- Связь заказов с деталями
INSERT INTO OrderParts (OrderID, PartID, Quantity) VALUES 
(1, 1, 100),
(1, 2, 100),
(2, 3, 10),
(2, 4, 5),
(3, 5, 20);

-- ============================================
-- 2. ХРАНИМАЯ ПРОЦЕДУРА: Оформление заказа со списанием остатков (без XML)
-- ============================================
GO

DROP PROCEDURE IF EXISTS sp_CreateOrder;
GO

CREATE PROCEDURE sp_CreateOrder
    @EmployeeID INT,
    @OrderDate DATE,
    @PartID1 INT = NULL,
    @Quantity1 INT = NULL,
    @PartID2 INT = NULL,
    @Quantity2 INT = NULL,
    @PartID3 INT = NULL,
    @Quantity3 INT = NULL
AS
BEGIN
    BEGIN TRANSACTION;
    BEGIN TRY
        DECLARE @OrderID INT;
        
        INSERT INTO Orders (OrderDate, EmployeeID, Status)
        VALUES (@OrderDate, @EmployeeID, 'Новый');
        
        SET @OrderID = SCOPE_IDENTITY();
        
        CREATE TABLE #TempOrderParts (PartID INT, Quantity INT);
        
        IF @PartID1 IS NOT NULL AND @Quantity1 IS NOT NULL
            INSERT INTO #TempOrderParts VALUES (@PartID1, @Quantity1);
        IF @PartID2 IS NOT NULL AND @Quantity2 IS NOT NULL
            INSERT INTO #TempOrderParts VALUES (@PartID2, @Quantity2);
        IF @PartID3 IS NOT NULL AND @Quantity3 IS NOT NULL
            INSERT INTO #TempOrderParts VALUES (@PartID3, @Quantity3);
        
        DECLARE @PartID INT, @Quantity INT;
        DECLARE cur CURSOR FOR SELECT PartID, Quantity FROM #TempOrderParts;
        
        OPEN cur;
        FETCH NEXT FROM cur INTO @PartID, @Quantity;
        
        WHILE @@FETCH_STATUS = 0
        BEGIN
            IF (SELECT StockQuantity FROM Parts WHERE PartID = @PartID) < @Quantity
            BEGIN
                DROP TABLE #TempOrderParts;
                RAISERROR('Недостаточно деталей на складе для PartID=%d', 16, 1, @PartID);
                ROLLBACK;
                RETURN;
            END
            
            UPDATE Parts SET StockQuantity = StockQuantity - @Quantity
            WHERE PartID = @PartID;
            
            INSERT INTO OrderParts (OrderID, PartID, Quantity)
            VALUES (@OrderID, @PartID, @Quantity);
            
            FETCH NEXT FROM cur INTO @PartID, @Quantity;
        END
        
        CLOSE cur;
        DEALLOCATE cur;
        DROP TABLE #TempOrderParts;
        
        UPDATE Orders SET Status = 'В работе' WHERE OrderID = @OrderID;
        
        COMMIT TRANSACTION;
        SELECT @OrderID AS OrderID, 'Заказ успешно создан' AS Message;
    END TRY
    BEGIN CATCH
        ROLLBACK;
        SELECT ERROR_MESSAGE() AS ErrorMessage;
    END CATCH
END;
GO

-- ============================================
-- 3. ХРАНИМАЯ ПРОЦЕДУРА: Отчет "Топ-5 деталей по продажам"
-- ============================================
GO

CREATE OR ALTER PROCEDURE sp_Top5PartsBySales
    @StartDate DATE,
    @EndDate DATE
AS
BEGIN
    SELECT TOP 5
        p.PartID,
        p.PartName,
        p.PartNumber,
        SUM(op.Quantity) AS TotalSold,
        SUM(op.Quantity * p.Price) AS TotalRevenue
    FROM Parts p
    INNER JOIN OrderParts op ON p.PartID = op.PartID
    INNER JOIN Orders o ON op.OrderID = o.OrderID
    WHERE o.OrderDate BETWEEN @StartDate AND @EndDate
      AND o.Status != 'Отменен'
    GROUP BY p.PartID, p.PartName, p.PartNumber
    ORDER BY TotalRevenue DESC;
END;
GO