USE ProductionDB;
GO

-- ============================================
-- ТРИГГЕР АУДИТА ДЛЯ ТАБЛИЦЫ Parts
-- Записывает старые и новые значения при UPDATE
-- ============================================
GO

CREATE OR ALTER TRIGGER trg_Audit_Parts
ON Parts
AFTER UPDATE, DELETE
AS
BEGIN
    SET NOCOUNT ON;
    
    -- Для UPDATE: записываем старые и новые значения
    IF EXISTS (SELECT * FROM inserted) AND EXISTS (SELECT * FROM deleted)
    BEGIN
        INSERT INTO AuditLog (TableName, RecordID, ActionType, OldValue, NewValue, ChangedBy)
        SELECT 
            'Parts',
            d.PartID,
            'UPDATE',
            CONCAT('PartName=', d.PartName, ', Price=', d.Price, ', StockQuantity=', d.StockQuantity),
            CONCAT('PartName=', i.PartName, ', Price=', i.Price, ', StockQuantity=', i.StockQuantity),
            SUSER_NAME()
        FROM deleted d
        INNER JOIN inserted i ON d.PartID = i.PartID
        WHERE d.PartName != i.PartName 
           OR d.Price != i.Price 
           OR d.StockQuantity != i.StockQuantity;
    END
    
    -- Для DELETE: записываем старые значения
    IF EXISTS (SELECT * FROM deleted) AND NOT EXISTS (SELECT * FROM inserted)
    BEGIN
        INSERT INTO AuditLog (TableName, RecordID, ActionType, OldValue, NewValue, ChangedBy)
        SELECT 
            'Parts',
            PartID,
            'DELETE',
            CONCAT('PartName=', PartName, ', Price=', Price, ', StockQuantity=', StockQuantity),
            NULL,
            SUSER_NAME()
        FROM deleted;
    END
END;
GO

-- ============================================
-- ТРИГГЕР АУДИТА ДЛЯ ТАБЛИЦЫ Employees
-- ============================================
GO

CREATE OR ALTER TRIGGER trg_Audit_Employees
ON Employees
AFTER UPDATE, DELETE
AS
BEGIN
    SET NOCOUNT ON;
    
    IF EXISTS (SELECT * FROM inserted) AND EXISTS (SELECT * FROM deleted)
    BEGIN
        INSERT INTO AuditLog (TableName, RecordID, ActionType, OldValue, NewValue, ChangedBy)
        SELECT 
            'Employees',
            d.EmployeeID,
            'UPDATE',
            CONCAT('LastName=', d.LastName, ', FirstName=', d.FirstName, ', Salary=', d.Salary),
            CONCAT('LastName=', i.LastName, ', FirstName=', i.FirstName, ', Salary=', i.Salary),
            SUSER_NAME()
        FROM deleted d
        INNER JOIN inserted i ON d.EmployeeID = i.EmployeeID
        WHERE d.LastName != i.LastName 
           OR d.FirstName != i.FirstName 
           OR d.Salary != i.Salary;
    END
    
    IF EXISTS (SELECT * FROM deleted) AND NOT EXISTS (SELECT * FROM inserted)
    BEGIN
        INSERT INTO AuditLog (TableName, RecordID, ActionType, OldValue, NewValue, ChangedBy)
        SELECT 
            'Employees',
            EmployeeID,
            'DELETE',
            CONCAT('LastName=', LastName, ', FirstName=', FirstName, ', Salary=', Salary),
            NULL,
            SUSER_NAME()
        FROM deleted;
    END
END;
GO